body
{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav
{
    height: 60px;
    background-color: lightgreen;
}

main
{
    flex: 1 0 auto;
    padding: 20px;
}

footer
{
    height: 180px;
    background-color: lightblue;
}